{{<layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Your contact details</h1>



    <h3 class="heading-medium">Return name and Address</h3>

    <div class="form-group">
        <label class="form-label" for="building">Building or street</label>
        <input class="form-control" id="building" type="text">
    </div>
    <div class="form-group">
        <label class="form-label" for="city">Town or city</label>
        <input class="form-control" id="city" type="text">
    </div>
    <div class="form-group">
        <label class="form-label" for="county">County</label>
        <input class="form-control" id="county" type="text">
    </div>
    <div class="form-group">
        <label class="form-label" for="postcode">Postcode</label>
        <input class="form-control" id="postcode" type="text">
    </div>


    <div class="form-group">
        <label class="form-label" for="telephone">Telephone</label>
        <input class="form-control" id="telephone" type="text">
    </div>
    <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" type="text">
    </div>

    <div class="form-group">
        <a href="application_form_payment" class="button">Save and continue</a>
        <p><a href="application_form_start" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
