{{<layout}}

{{$pageTitle}}
Payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <h1 class="heading-xlarge">Payment</h1>

    <div style="margin-bottom: 50px; width:100%">
        <img src="{{assetPath}}/images/barclaycard.png">
    </div>

    <div style="margin: 0 auto; width:100%">
        <a href="account_confirmation" class="button">Make Payment</a>
    </div>

    <p><a href="account_documents" class="link-back">Back</a></p>

</main>

{{/content}}

{{/layout}}
