{{<layout}}

{{$pageTitle}}
Application Type
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}


    <h1 class="heading-large">Welcome to the legalisation service</h1>
    <div class="form-group">
        <p><a href="application_form_type" class="link-back">Sign out</a></p>
    </div>

    <h2 class="heading-medium">Standard Service</h2>
    <a href="#" class="button">Start new Standard service application</a>
    <table id="summary-standard" class="acc-summary-table">
        <thead>
        <tr>
            <th class="acc-summary-table-cell-date">Date</th>
            <th class="acc-summary-table-cell-name">Name</th>
            <th class="acc-summary-table-cell-ref">Internal Reference</th>
            <th class="acc-summary-table-cell-link">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="acc-summary-table-cell-date">20/09/2015</td>
            <td class="acc-summary-table-cell-name">Joe Bloggs</td>
            <td class="acc-summary-table-cell-ref">IR-12345</td>
            <td class="acc-summary-table-cell-link"><a href="#">Continue application</a></td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">19/09/2015</td>
            <td class="acc-summary-table-cell-name">Mary Poppins</td>
            <td class="acc-summary-table-cell-ref">IR-54321</td>
            <td class="acc-summary-table-cell-link"><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">01/08/2015</td>
            <td class="acc-summary-table-cell-name">Dan Moody</td>
            <td class="acc-summary-table-cell-ref">IR-99999</td>
            <td class="acc-summary-table-cell-link"><a href="#">Continue application</a></td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Premium Service</h2>
    <a href="#" class="button">Start new Premium service application</a>
    <table id="summary-premium" class="acc-summary-table">
        <thead>
        <tr>
            <th class="acc-summary-table-cell-date">Date</th>
            <th class="acc-summary-table-cell-name">Name</th>
            <th class="acc-summary-table-cell-ref">Internal Reference</th>
            <th class="acc-summary-table-cell-link">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="acc-summary-table-cell-date">20/09/2015</td>
            <td class="acc-summary-table-cell-name">Josephine Bloggs</td>
            <td class="acc-summary-table-cell-ref">IR-12345</td>
            <td class="acc-summary-table-cell-link"><a href="#">Continue application</a></td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">19/09/2015</td>
            <td class="acc-summary-table-cell-name">Andy Hamilton</td>
            <td class="acc-summary-table-cell-ref">IR-54321</td>
            <td class="acc-summary-table-cell-link">Submitted</td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">01/08/2015</td>
            <td class="acc-summary-table-cell-name">Mark Barlow</td>
            <td class="acc-summary-table-cell-ref">IR-99999</td>
            <td class="acc-summary-table-cell-link"><a href="#">Continue application</a></td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Drop-Off Service</h2>
    <a href="#" class="button">Start new Drop-off service application</a>
    <table id="summary-dropoff" class="acc-summary-table">
        <thead>
        <tr>
            <th class="acc-summary-table-cell-date">Date</th>
            <th class="acc-summary-table-cell-name">Name</th>
            <th class="acc-summary-table-cell-ref">Internal Reference</th>
            <th class="acc-summary-table-cell-link">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="acc-summary-table-cell-date">20/09/2015</td>
            <td class="acc-summary-table-cell-name">Joe Bloggs</td>
            <td class="acc-summary-table-cell-ref">IR-12345</td>
            <td class="acc-summary-table-cell-link">Submitted</td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">19/09/2015</td>
            <td class="acc-summary-table-cell-name">Joe Bloggs</td>
            <td class="acc-summary-table-cell-ref">IR-54321</td>
            <td class="acc-summary-table-cell-link"><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td class="acc-summary-table-cell-date">01/08/2015</td>
            <td class="acc-summary-table-cell-name">Shaun Smith</td>
            <td class="acc-summary-table-cell-ref">IR-99999</td>
            <td class="acc-summary-table-cell-link"><a href="#">Continue application</a></td>
        </tr>
        </tbody>
    </table>



</main>

{{/content}}

{{/layout}}
