{{<layout}}

{{$pageTitle}}
Personal Details
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Your personal details</h1>
    <!-- feel free to change this page to suit your needs -->

    <div class="form-group">
        <label class="form-label" for="first-name">First name</label>
        <input class="form-control" id="first-name" type="text">
    </div>

    <div class="form-group">
        <label class="form-label" for="last-name">Last name</label>
        <input class="form-control" id="last-name" type="text">
    </div>

    <div class="form-group">
        <label class="form-label" for="ptelephone"> Telephone</label>
        <input class="form-control" id="ptelephone" type="text">
    </div>
    <div class="form-group">
        <label class="form-label" for="pemail"> Email</label>
        <input class="form-control" id="pemail" type="text">
    </div>



    <div class="form-group">
        <a href="application_form_address" class="button">Save and continue</a>
        <p><a href="application_eligibility" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
