{{<layout}}

{{$pageTitle}}
Document Eligibility
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Check if documents can be legalised</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div class="intro">
                    <p>You can get a UK public document ‘legalised’ - this means a signature, seal or stamp made by a UK public official on the document is confirmed as genuine by the UK government.</p>

                    <p>Use this tool to check if your document can be legalised.</p>

                    <p class="get-started">
                        <a rel="nofollow" href="https://www.gov.uk/legalisation-document-checker/y" class="big button">Check your documents</a>
                    </p>
                </div>

            </div>
        </article>
    </div>

    <div class="form-group">
        <p>Or if you know your documents can be legalised you can <a href="application_form_personal_details">skip this check</a></p>
        <p><a href="application_form_type" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
