{{<layout}}

{{$pageTitle}}
Application Summary
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-large">Check your answers before paying for your application</h1>

    <h2 class="heading-medium">Personal Details</h2>
    <table id="review-personal-details" class="summary-table">
        <tbody>
            <tr>
                <td class="summary-table-cell-label">Name</td>
                <td class="summary-table-cell-content">John Smith</td>
                <td class="summary-table-cell-link"><a href="application_form_personal_details_dummy">Change Name</a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Email</td>
                <td class="summary-table-cell-content">email@legalisation.gov.uk</td>
                <td class="summary-table-cell-link"><a href="application_form_personal_details_dummy">Change Email</a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Telephone</td>
                <td class="summary-table-cell-content">03700 00 22 44</td>
                <td class="summary-table-cell-link"><a href="application_form_personal_details_dummy">Change Telephone</a></td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Address</h2>
    <table id="review-address" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Return Address for Legalised Documents</td>
            <td class="summary-table-cell-content">Informed Solutions</br>
                The Old Bank,</br>
                Old Market Place,</br>
                Altrincham,</br>
                Cheshire,</br>
                WA14 4PA</td>
            <td class="summary-table-cell-link"><a href="application_form_address_dummy">Change Return Address for Legalised Documents</a></td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Return Address if unsuccessful</td>
            <td class="summary-table-cell-content">Informed Solutions</br>
                The Old Bank,</br>
                Old Market Place,</br>
                Altrincham,</br>
                Cheshire,</br>
                WA14 4PA</td>
            <td class="summary-table-cell-link"><a href="application_form_address_dummy">Change Return Address if unsuccessful</a></td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Document Details</h2>
    <table id="review-document-details" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Countries where documents will be used</td>
            <td class="summary-table-cell-content">
                France: 7</br>
                Spain: 1</td>
            <td class="summary-table-cell-link"><a href="application_form_countries_dummy">Change countries where documents will be used</a></td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Postage</h2>
    <table id="review-postage" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Return Delivery Method</td>
            <td class="summary-table-cell-content">European Courier</td>
            <td class="summary-table-cell-link"><a href="application_form_postage_dummy">Change return delivery method</a></td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Total Cost of Postage</td>
            <td class="summary-table-cell-content">&pound;14.50</td>
            <td class="summary-table-cell-link"></td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Additional Information</h2>
    <table id="review-special" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Special Instructions</td>
            <td class="summary-table-cell-content">Please can you write my internal reference number on the return envelope</td>
            <td class="summary-table-cell-link"><a href="application_form_special_dummy">Change special instructions</a></td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Your Reference</td>
            <td class="summary-table-cell-content">IR-12345</td>
            <td class="summary-table-cell-link"><a href="application_form_special_dummy">Change your reference</a>
        </tr>
        </tbody>
    </table>



    <div class="notice" style="max-width: 30em;">
        <h2 class="heading-medium">Your Privacy</h2>


        <p>Please be aware that the Legalisation Office may need to share information, data or facts contained within
            your document(s) with the relevant authority/individuals for legal purposes or for the purposes of
            authentication and verification for further information please read our
            <a href="#">terms and conditions and privacy policy</a>.
        </p>

        <div class="form-group">
            <label class="block-label" for="checkbox-1">
                <input id="checkbox-1" type="checkbox" value="accept_terms">
                I agree to the <a href="#">terms and conditions and privacy policy</a>
            </label>
            <label class="block-label" for="checkbox-2">
                <input id="checkbox-2" type="checkbox" value="accept_feedback" checked="checked">
                I am happy to be contacted for feedback to help improve this service
            </label>
        </div>

        <div class="warning" style="clear:both;">
            <p class="text">
                By sending your information you confirm that the information you have provided is true.
            </p>
        </div>
    </div>

    <div class="form-group">
        <a href="payment" class="button">Confirm Application Details & Pay</a>
        <p><a href="application_form_special" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
