{{<layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <div class="form-group">
        <div class="container-confirmed container">
            <h1 class="heading-large confirmed">Applicaiton complete</h1>
            <h2 class="heading-secondary confirmed">Your reference number is</h2>
            <h1 class="heading-large confirmed">HDJ2123F</h1>
        </div>
    </div>

    <div class="form-group">
        <a href="application_form_personal_details" class="button">Finished</a>
        <p><a href="index" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
