{{$layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Check your answers before sending your application</h1>


    <div class="notice" style="max-width: 30em;">
        <h2 class="heading-medium">Send your application</h2>
        <p>By sending your application you confirm that the information you have provided is true.</p>

        <p>Your information may be shared with other government departments to check your identity and that you’re entitled to register to vote.</p>
        <div class="warning" style="border-top: 1px solid #dee0e2;">
            <p>If you knowingly give false information in your application, you could go to prison for up to 6 months, or be fined.</p>
        </div>
    </div>
    <div class="form-group">
        <a href="index" class="button">I accept- send my application</a>
        <p><a href="application_form_payment" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
