{{<layout}}

{{$pageTitle}}
Application Summary
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Review Application Details</h1>
    <h2 class="heading-medium">Check your answers before paying for your application</h2>

    <div class="summary_block">
        <h3>Name</h3>
        <div class="summary_group">
            <p>John Smith</p>
        </div>
        <a href="application_form_personal_details" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Email</h3>
        <div class="summary_group">
            <p>email@informed.com</p>
        </div>
        <a href="application_form_personal_details" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Telephone</h3>
        <div class="summary_group">
            <p>0161 942 2000</p>
        </div>
        <a href="application_form_personal_details" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Return Address for Legalised Documents</h3>
        <div class="summary_group">
            <p>Informed Solutions</br>
               The Old Bank,</br>
               Old Market Place,</br>
               Altrincham,</br>
               Cheshire,</br>
               WA14 4PA</p>
        </div>
        <a href="application_form_address" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Return Address if unsuccessful</h3>
        <div class="summary_group">
            <p>Informed Solutions</br>
               The Old Bank,</br>
               Old Market Place,</br>
               Altrincham,</br>
               Cheshire,</br>
               WA14 4PA</p>
        </div>
        <a href="application_form_address" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Document Details</h3>
        <div class="summary_group">
            <ul>
                <li>France: <span style="margin-left: 10px">7</span></li>
                <li>Spain: <span style="margin-left: 12px">1</span></li>
            </ul>
        </div>
        <a href="application_form_countries" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Return Delivery Method</h3>
        <div class="summary_group">
            European Courier
        </div>
        <a href="application_form_postage" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Total Cost</h3>
        <div class="summary_group">
            £224.50
        </div>
    </div>

    <div class="summary_block">
        <h3>Special Instructions</h3>
        <div class="summary_group">
            Please can you write my internal reference number on the return envelope
        </div>
        <a href="application_form_special" class="change">
            Change
        </a>
    </div>

    <div class="summary_block">
        <h3>Feedback Consent</h3>
        <div class="summary_group">
            Yes, I would like to take part in the survey.
        </div>
        <a href="application_form_special" class="change">
            Change
        </a>
    </div>

    <div class="notice" style="max-width: 30em;">
        <h2 class="heading-small">Consent</h2>

        <p>Please be aware that the Legalisation Office may need to share information, data or facts contained within your document(s) with the relevant authority/individuals for legal purposes or for the purposes of authentication and verification.  </p>

        <div class="warning" style="border-top: 1px solid #dee0e2;">
            <p>By submitting this application you have given us the authority and consent to do so.</p>
        </div>
    </div>

    <div class="form-group">
        <a href="payment" class="button">Confirm Application Details & Pay</a>
        <p><a href="application_form_special" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
