{{<layout}}

{{$pageTitle}}
Personal Details
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Your personal details</h1>

    <div class="form-group">
        <span class="form-label-bold">Full name</span>
        <input class="form-control" id="first-name" type="text">
    </div>

    <div class="form-group">
        <span class="form-label-bold">Telephone number</span>
        <span class="form-hint">Can be landline or mobile. Find your international code from the selector</span>
        <input type="tel" id="phone" class="form-control" autocomplete="off"  style="width: 100%">
        <!--<span id="valid-msg" class="hide">✓ Valid</span>-->
        <!--<span id="error-msg" class="hide">Invalid number</span>-->
    </div>
    <div class="form-group">
        <span class="form-label-bold">Email address</span>
        <span class="form-hint">We will send confirmation of your application here</span>
        <input class="form-control" id="email" type="text">
    </div>
    <div class="form-group">
        <span class="form-label-bold">Confirm email address</span>
        <input class="form-control" id="email-confirm" type="text">
    </div>



    <div class="form-group">
        <a href="application_form_address" class="button">Save and continue</a>
        <p><a href="application_eligibility" class="link-back">Back</a></p>

    </div>

</main>

{{/content}}

{{/layout}}
