{{<layout}}

{{$pageTitle}}
	Foreign & Commonwealth Office - Legalisation
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    {{>breadcrumbs}}

    <section class="intro">
        <div class="get-started-intro">

            <h1 class="heading-xlarge">Legalisation Application</h1>

            <p>Use this service to:</p>
            <ul>
                <li>Legalise your documents</li>
            </ul>

            <p>
                Legalisation is the confirmation of the signature or seal of a UK public official on a UK public document in
                accordance with the Hague Convention (1961).
                It does not confirm the content of a document.
            </p>

        </div>
    </section>

    <section class="more">
        <div >
            <h1 class="heading-large">Before you start</h1>

            <p>Please take a look at the <a href="https://www.gov.uk/government/publications/legalisation-general-guidance-leaflet">guidance notes</a>.</p>

            <p>You can also <a href="#">submit a legalisation application over the phone</a>.</p>
        </div>
    </section>

    <br/>

    <a href="application_form_type" class="button button-get-started" role="button">Start now</a>

</main>

{{/content}}

{{/layout}}
