{{<layout}}

{{$pageTitle}}
	GOV.UK Foreign & Commonwealth Office
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    {{>breadcrumbs}}

    <section class="intro"><div class="get-started-intro">

        <h1 class="heading-xlarge">Legalisation Application</h1>
        <p>Use this service to:</p>

        <ul>
            <li>legalise your documents</li>
        </ul>

        <p>
            Legalisation is the confirmation of the signature or seal of a UK public official on a UK public document.
            It conforms to the Hague Convention (1961).
            It does not confirm the content of a document.
        </p>

    </div>
        </section>

    <a href="application_eligibility" class="button button-get-started" role="button">Start now</a>


    <section class="more">
        <div >
            <h1 class="heading-large">Before you start</h1>
            <p>Please take a look at the following page:<br> <a href="https://www.gov.uk/get-document-legalised">Get a document legalised</a>.</p>


            <p>You can also <a href="#">legalise documents by post</a>.</p>

            <p>The online service is also available in <a href="/cofrestru-i-bleidleisio">Welsh (Cymraeg)</a>.</p>





            <h2 class="heading-large">Public servants posted overseas</h2>

            <p>There are separate registration services for public servants who are likely to be posted overseas:</p>

            <ul>
                <li>
                    <a href="/register-to-vote-crown-servants-british-council-employees">Crown servants</a> (eg diplomatic service, overseas civil service)</li>
                <li><a href="/register-to-vote-crown-servants-british-council-employees">British Council employees</a></li>
                <li><a href="/register-to-vote-armed-forces">armed forces</a></li>
            </ul>

            <p>You can still <a rel="external" href="https://www.registertovote.service.gov.uk/register-to-vote/country-of-residence?_ga=1.118782217.1276579842.1417597719">register as a non-service voter</a> if you’re in the armed forces and have a permanent home address in the UK.</p>

            <h2 class="heading-large">Northern Ireland</h2>

            <p>This service is for England, Wales and Scotland only. </p>

            <p>You’ll need to register using a different form if you live in <a rel="external" href="http://www.eoni.org.uk/Register-To-Vote/Register-to-vote-change-address-change-name">Northern Ireland.</a></p>

        </div>



    </section>


</main>

{{/content}}

{{/layout}}
