{{<layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <h1 class="heading-xlarge">Payment</h1>
    <!-- feel free to change this page to suit your needs -->
    <div style="margin: 0 auto; width:100%">
        <a href="application_form_confirmation" style="    margin: 0 37% 10px 43%;" class="button">Make Payment</a>
    </div>
        <img src="{{assetPath}}/images/barclaycard.jpg" style="margin-left: 30%">

        <p><a href="application_form_summary" class="link-back">Back</a></p>



</main>

{{/content}}

{{/layout}}
