<!-- Javascript -->

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/jquery.typeahead.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="{{assetPath}}javascripts/vendor/polyfills/bind.js"></script>
<script src="{{assetPath}}javascripts/govuk/selection-buttons.js"></script>

<!-- govuk_elements js -->
<script src="{{assetPath}}javascripts/details.polyfill.js"></script>
<script src="{{assetPath}}javascripts/application.js"></script>

<!-- INT-TEL-NUM-->
<script src="{{assetPath}}javascripts/int-tel-num/intlTelInput.js"></script>

<script>
    $("#phone").intlTelInput({
        defaultCountry: "auto",
        geoIpLookup: function(callback) {
            $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                callback(countryCode);
            });
        },
        utilsScript: "public/assests/javascript/int-tel-num/utils.js" // just for formatting/placeholders etc
    });

</script>