{{<layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Return address</h1>
    <p class="text">
    Please state the address where you would like your document(s) returned in the event that we are unable to successfully complete your application.
    </p>

    <div class="form-group">
        <form>
            <fieldset class="inline">
                <legend>
            <span class="form-label">
              Return Address
            </span>
                </legend>
                <div class="form-group form-group-compound">
                    <label class="block-label"  for="radio-indent-1">
                        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Business">
                        Same as before
                    </label>
                    <label class="block-label" data-target="different-address-section" for="radio-indent-2">
                        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Personal">
                        Different
                    </label>
                </div>
                <div class="panel-indent js-hidden" id="different-address-section">
                    <div class="form-group">
                        <label class="form-label" for="building">Building or street</label>
                        <input class="form-control" id="building" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="city">Town or city</label>
                        <input class="form-control" id="city" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="county">County</label>
                        <input class="form-control" id="county" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="postcode">Postcode</label>
                        <input class="form-control" id="postcode" type="text">
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="telephone">Telephone</label>
                        <input class="form-control" id="telephone" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" type="text">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <a href="application_confirmation" class="button">Next</a>
        <p><a href="application_form_payment" class="link-back">Back</a></p>
    </div>

</main>

{{/content}}

{{/layout}}
